-
  const dropdownList = [
    {
      href: '#',
      name: 'ONG Solar'
    },
    {
      href: '#',
      name: 'Caspit Trade'
    },
    {
      href: '#',
      name: 'Overtech'
    },
    {
      href: '#',
      name: 'Agronovatsiia'
    },
    {
      href: '#',
      name: 'EXIM Leasing'
    },
    {
      href: '#',
      name: 'Discorb'
    },
  ];

header.header
  ._container.header__container
    .header__wrapper
      a.logo-link.header__logo(href='#') 
        img(
          src=require('@/assets/img/logo-black.svg'),
          alt='logo',
          draggable='false'
        )

      .dropdown.desktop
        button.dropdown__header Наші проекти

        ul.dropdown-list
          each item in dropdownList
            li.dropdown-list__item
              a.dropdown-list__link(
                href=`${item.href}`,
                target='_blank',
                rel='noreferrer'
              )= item.name

      .header__buttons
        a.header-call.contact-link(href='tel:+380662105690')
          span.contact-link__label
            img(src=require('@/assets/img/call.svg'), alt='call')

          span.contact-link__text +38 066 210-56-90

        button.menu-burger.popup-open(data-popup='_popup-menu')

  include @/layout/popup.pug
